{% extends 'base.html' %}

{%block head%}

{%endblock%}

{%block title%}
Game - hub
{% endblock%}

{% block header %}
<div class="header-small">
  <div class="header-content">
    <div class="header-text">Spel nav</div>
  </div>
</div>
{% endblock %}

{% block content1 %}
<div class="col w-100" style="float: right;">
  <div class="bg-light p-5 text-center">
    <!-- knapp för att söka -->
    <h1>Sök spel</h1>
    <button class="button button-small" id="searchGame"><i class="bi bi-search icon"></i></button>
  </div>


  <div class="bg-dark p-5" style="height: 50%;">
    <!-- rubrik med typ utmana spelare -->
    <!-- dropdown och search för att hitta spelare -->
    <h1 class="text-center text-light">Utmana</h1>

    <input type="text" class="contact" id="searchUsersBox" placeholder="Sök..." value="">
  </div>
  <div id="usersHolder">
    <div id="displayUsers"></div>
  </div>
</div>
{% endblock %}